body {
	color: #484848;
	background:#e4f1f4 url('../img/bg-gradient.png') top left repeat-x;
	font-family: sans-serif,cursive,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 14px;
}

div#main {
	width:100%;
	min-width: 1187px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, p, blockquote, table, th, td {
	margin: 0;
	padding: 0;
}

.body{
margin: 10px 50px 0px 50px;
}
/* -------------------------------------------------------------
	Header
------------------------------------------------------------- */

div#header {
	background: url('../img/pattern-header-100.png') top left repeat-x;	
	height:100px;
}


#footer {
	align:center;
	color:#8c9497;
	font-size:10px;
	width:987px;
	height:100px;
}

/*********************
	menu
******************/
.menu ul a {
	text-decoration:none;
}
.menu ul a:hover {
}
.menu ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
	list-style: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.dropboxli:after {
	content: "▼";
}
.menu ul li {
	border:1px solid;
	border-radius:5px;
	border-color:gray;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 10px 10px;
	background: #F9F9F9;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.menu ul li:hover {
	background: #E6E6E6;
	color: #523266;
}
.menu ul li ul {
	padding: 0;
	position: absolute;
	top: 38px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.menu ul li ul li { 
	background: #F9F9F9; 
	border-radius:0px;
	display: block; 
	color: #51286B;
}
.menu ul li ul li:hover 
{ 
	background: #E6E6E6;
}
.menu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

.menu {
margin-left:350px
}
/********************************************************
				popup
********************************************************/
#mask{
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.editcategory-popup, .loading-popup, .contact-popup, .preview-popup, .window-popup{
	display:none;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}

form.editnote .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.editnote .textbox span { 
	display:block;
}

form.editnote p, form.editnote span { 
	color:#999; 
	font-size:11px; 
	width:200px;
	line-height:18px;
} 

form.editnote .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

form.editnote input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.editnote input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}

.button:hover { background:#ddd; }

/********************************************************************

********************************************************************/

.listview {
	border-collapse: collapse;
}

.listview td {
	border:1px solid #D4D4D4;
	padding:0 3px 0 3px;
	word-wrap: break-word;
}

.listview th {
    background-color: #555555;
    border: 1px solid #555555;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}
.listview tr:nth-child(2n) {
    background-color: #FFFFFF;
}
.listview tr:nth-child(2n+1) {
    background-color: #F6F4F0;
}

.sort_sign:after{
	content:"↑↓";
}

.sort_asc:after {
	content: "▲";
}
.sort_desc:after {
	content: "▼";
}

.label_addcategory{
	display: inline-block;
	width:100px;
	padding:3px 2px 3px 2px;
 }
 
.label_addcontact{
	display: inline-block;
	width:80px;
	padding:5px 2px 6px 2px;
 }
 .explaindetail{
	color:#999;
	font-size:11px;
 }